.tryagain {
    text-align: center;
}

.btn-tryagain {
    color: white;
    background-color: #7B0B9A;
}

.btn-tryagain:hover {
    color: white;
}

.hide {
    display: none;
}

#data {
    font-size: 14px;
    color: #808080;
}

#hora {
    font-size: 14px;
    color: #808080;
}