.btn-salvar {
    color: white;
    background-color: #7B0B9A;
    float: right;
}

.btn-salvar:hover {
    color: white;
}

.btn-voltar {
    color: #7B0B9A;
    font-size: 16px;
    text-decoration: none !important;
}

.btn-voltar:hover {
    color: #7B0B9A;
}

i {
    margin-right: 10px;
}
